html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#global-container{
  position: relative;
  min-height: 100vh;
}
#custom-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
#content-wrap {
  padding-bottom: 90px;    /* Footer height */
}