:root {
  --goodfood-yellow:#FDBF50;
  --goodfood-red:#FF724C;
  --goodfood-white:#FFFFFF;
  --goodfood-grey:#F2F2F2;
  --goodfood-blue:#2A2C41;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.auth-button{
  padding-bottom: 10px;
  font-weight: bold;
  color:var(--goodfood-blue);
  cursor: pointer;
}
.auth-button:hover{
  border-bottom: solid var(--goodfood-red);
  opacity: 0.7;
}
.selected{
  border-bottom:solid var(--goodfood-red) !important;
}

.container-auth{
  height: fit-content;
  width: 100%;
  padding:0 !important;
}
.container-auth-header{
  background: var(--goodfood-white);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.auth{
  background-image: url('/repeat_background.png');
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 100%;
}
.icon-spacing{
  margin-right: 5px;
}
::-webkit-scrollbar {display:none;}

.button-panier{
  width:33%;
  justify-content:center;
  display:flex;
  align-items:center;
  cursor:pointer;
  border-width:1px;
  transition: 0.3s;
  margin-left: -1px;
  border-color: #FF724C;
}

.button-panier:hover{
  background-color:#FF724C ;
  color:white;
}
